body {
  background-color: #edf2f4;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner {
  z-index: 1;
  position: sticky;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: rgb(27, 25, 25);
}
.banner a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: white;
  text-decoration: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.settingsPageDiv {
  width: 95%;
  height: -moz-min-content;
  height: min-content;
  background-color: rgb(26, 24, 24);
  margin: 2.5% auto 2rem;
  border-radius: 1rem;
  padding-bottom: 3rem;
}
.settingsPageDiv section {
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.settingsPageDiv section .info-logo {
  animation: spin 6s linear infinite;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.settingsPageDiv section .info-description {
  width: 75vw;
  height: -moz-min-content;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  box-shadow: 0 0px 0px 1px white;
  padding: 0.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.settingsPageDiv section button.feature-name-container {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 1rem;
  margin-top: -0.5rem;
  margin-bottom: -2rem;
}
.settingsPageDiv section button.feature-name-container svg {
  font-size: 2.5rem;
}
.settingsPageDiv section button.feature-name-container p {
  font-size: 2rem;
}
.settingsPageDiv section.features-section {
  display: grid;
  justify-content: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}
.settingsPageDiv section.features-section div.feature-container {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 1rem;
}
.settingsPageDiv section.features-section div.feature-container svg {
  width: 5%;
  margin-left: 1rem;
  font-size: 5vh;
}
.settingsPageDiv section.features-section div.feature-container p {
  width: 90%;
  font-size: 1rem;
  text-align: start;
}
.settingsPageDiv section.features-section.style-1 {
  grid-template-columns: repeat(3, 1fr);
}

.mainPageDiv {
  border-radius: 1rem;
  width: 40rem;
  height: 10rem;
  background-color: #d90429;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem;
  color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.301);
}

.cards {
  background-color: #edf2f4;
  width: 95%;
  min-height: 80vh;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.cards .card {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #d90429;
  min-width: 14rem;
  min-height: 8rem;
  height: -moz-min-content;
  height: min-content;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.301);
  position: relative;
}
.cards .card span {
  position: absolute;
  right: 1vh;
  border-radius: 1vh;
  background-color: #edf2f4;
  padding-left: 1.3rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: -moz-min-content;
  height: min-content;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 1rem;
}
.cards .card span section.buttonsSection {
  gap: 0.5rem;
}
.cards .card span section.buttonsSection button {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: black;
  border-radius: 1vh;
  box-shadow: 0 0.5px 1px black;
}
.cards .card span section.buttonsSection button:hover {
  border: 1px solid rgba(0, 0, 0, 0.589);
}
.cards .card span section {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.cards .card span section button {
  color: rgb(155, 6, 6);
  border: 1px solid white;
  font-size: 1.8rem;
  background-color: white;
  height: 2rem;
  border-radius: 1vh;
}
.cards .card span section button:hover {
  background-color: white;
  border: 1px solid black;
}
.cards .card section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cards .card section button.cardOption {
  position: absolute;
  right: 1rem;
  font-size: 1.8rem;
  background-color: white;
  border: none;
  height: 2rem;
  border-radius: 1vh;
  transition: transform 0.2s;
}
.cards .card section button.cardOption:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}
.cards .card section.dateTimeSection {
  justify-content: center;
}
.cards .card section.dateTimeSection input {
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  color: black;
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  width: 48%;
  background-color: white;
  border-radius: 0.3rem;
  border: none;
  padding: 0.4rem 0 0.4rem;
  text-align: center;
}
.cards .card section.dateTimeSection input::-webkit-calendar-picker-indicator {
  display: none;
}
.cards .card section.timeLeftDisplay p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0;
}
.cards .card input[type=checkbox] {
  min-width: 1.5rem;
  min-height: 1.5rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.cards .card input[type=checkbox]:checked {
  background-color: blue;
  border-color: blue;
}
.cards .card label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: scroll;
  width: 60%;
  padding: 0px 5px;
  transition: padding 0.15s;
  color: white;
  font-size: 1.7rem;
}
.cards .card label::-webkit-scrollbar {
  display: none;
}
.cards .card p {
  background-color: white;
  padding: 0;
  text-indent: 0;
  font-size: 1rem;
  min-height: 3rem;
  max-height: 15rem;
  overflow-y: auto;
  -webkit-user-select: text;
     -moz-user-select: text;
          user-select: text;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}
.cards .card p:focus {
  outline: none;
}

.navBarSmall {
  z-index: 1;
  overflow-y: auto;
  position: fixed;
  right: 0;
  width: 15%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBarSmall button {
  font-size: 3vh;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
}

.navBarSmallToggled {
  background-color: rgba(0, 0, 0, 0.829);
  width: 100%;
  height: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  transition: width 1s, background-color 1s;
}
.navBarSmallToggled button {
  margin-left: 4vh;
  margin-top: 4vh;
}
.navBarSmallToggled nav {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.navBarSmallToggled nav a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
  transition: letter-spacing 0.2s;
}
.navBarSmallToggled nav a:hover {
  letter-spacing: 1.5px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }
  50% {
    scale: 110%;
  }
  100% {
    scale: 100%;
  }
}
.alarm-activated {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}
.alarm-activated div {
  width: 80%;
  max-width: 30rem;
  height: -moz-min-content;
  height: min-content;
  background-color: #ef233c;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  animation: zoom-in-zoom-out 1s ease infinite;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.alarm-activated div p {
  font-size: 2rem;
  color: white;
  text-align: center;
}
.alarm-activated div h1 {
  flex-basis: 100%;
}
.alarm-activated div svg {
  font-size: 5rem;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.alarm-activated div button {
  display: block;
  flex-basis: 40%;
  height: 3rem;
  font-size: 1rem;
  transition: transform 0.2s;
  border: none;
  border-radius: 0.3rem;
}
.alarm-activated div button:hover {
  transform: scale(105%);
  background-color: white;
  transition: transform 0.2s;
}

.navBar {
  z-index: 1;
  background-color: rgb(27, 25, 25);
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navBar a {
  background-color: #f1faee;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  transition: transform 0.1s;
}
.navBar a:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.1s;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.noRemindersFound {
  background-color: #d90429;
  padding: 1rem 4rem;
  border-radius: 1rem;
  margin: 0rem 0.5rem;
}
.noRemindersFound h1 {
  color: white;
  font-size: 1.7rem;
  text-align: center;
}
.noRemindersFound a {
  color: blue;
  text-align: center;
  text-decoration: none;
  transition: letter-spacing 0.2s;
  width: 100%;
  display: flex;
  justify-content: center;
}
.noRemindersFound a:hover {
  letter-spacing: 1px;
  transition: letter-spacing 0.2s;
}
.noRemindersFound a button {
  width: 10rem;
  font-size: 1rem;
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  transition: box-shadow 0.2s, transform 0.2s;
}
.noRemindersFound a button:hover {
  transition: box-shadow 0.2s, transform 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 3px 3px 0.2px black;
}

.addReminderForm {
  color: white;
  width: 30rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d90429;
  border-radius: 1rem;
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.301);
}
.addReminderForm h1 {
  text-align: center;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.addReminderForm section {
  display: flex;
  flex-direction: column;
}
.addReminderForm section label {
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
}
.addReminderForm section input {
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  color: black;
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: none;
  border-radius: 0.3rem;
}
.addReminderForm section input[type=time],
.addReminderForm section input[type=date] {
  width: 65%;
}
.addReminderForm section p {
  color: white;
}
.addReminderForm section textarea {
  resize: none;
  font-size: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0.3rem;
}
.addReminderForm div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.addReminderForm div section {
  width: 50%;
}
.addReminderForm div section input {
  text-align: center;
}
.addReminderForm button {
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.addReminderForm button:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.1s;
}

dialog[open].editReminderDialog {
  z-index: 2;
  position: fixed;
  margin: 0;
  top: 0;
  padding-left: 0;
  background-color: rgba(128, 128, 128, 0.548);
  width: 100%;
  height: 100vh;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
dialog[open].editReminderDialog form {
  color: white;
  width: 30rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #d90429;
  border-radius: 1rem;
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.301);
}
dialog[open].editReminderDialog form h1 {
  text-align: center;
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
dialog[open].editReminderDialog form section {
  display: flex;
  flex-direction: column;
}
dialog[open].editReminderDialog form section label {
  font-size: 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
}
dialog[open].editReminderDialog form section input {
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  color: black;
  appearance: none; /* For modern browsers */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: none;
  border-radius: 0.3rem;
}
dialog[open].editReminderDialog form section input[type=time],
dialog[open].editReminderDialog form section input[type=date] {
  width: 65%;
}
dialog[open].editReminderDialog form section p {
  color: white;
}
dialog[open].editReminderDialog form section textarea {
  resize: none;
  font-size: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 0.3rem;
}
dialog[open].editReminderDialog form div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
dialog[open].editReminderDialog form div section {
  width: 50%;
}
dialog[open].editReminderDialog form div section input {
  text-align: center;
}
dialog[open].editReminderDialog form button {
  font-size: 1.2rem;
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
dialog[open].editReminderDialog form button:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.1s;
}
dialog[open].editReminderDialog form .submitAndCancelSection {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
dialog[open].editReminderDialog form .submitAndCancelSection button {
  width: 40%;
  border: none;
  transition: transform 0.1s;
}
dialog[open].editReminderDialog form .submitAndCancelSection button:hover {
  transform: translateY(-0.1rem);
  transition: transform 0.1s;
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .settingsPageDiv {
    transition: height 1s;
    display: flex;
    flex-direction: column;
  }
  .settingsPageDiv div.feature-container:nth-last-of-type(1) {
    grid-column: 1/2;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .settingsPageDiv div.feature-container svg {
    width: 9%;
  }
  .settingsPageDiv div.feature-container p {
    width: 65%;
  }
  .settingsPageDiv section.features-section.style-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .settingsPageDiv div.feature-container:nth-last-of-type(1) {
    grid-column: 1/3;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .settingsPageDiv div.feature-container svg {
    width: 9%;
  }
  .settingsPageDiv div.feature-container p {
    width: 65%;
  }
  .settingsPageDiv section.features-section.style-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .settingsPageDiv div.feature-container:nth-last-of-type(1) {
    grid-column: 1/3;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .settingsPageDiv div.feature-container svg {
    width: 9%;
  }
  .settingsPageDiv div.feature-container p {
    width: 65%;
  }
  .settingsPageDiv section.features-section.style-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .settingsPageDiv div.feature-container:nth-last-of-type(1) {
    grid-column: 1/4;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .settingsPageDiv div.feature-container svg {
    width: 9%;
  }
  .settingsPageDiv div.feature-container p {
    width: 65%;
  }
  .settingsPageDiv section.features-section.style-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width >= 1536px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards .card {
    max-width: 25rem;
    min-height: 10rem;
  }
  .cards .card section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}/*# sourceMappingURL=index.css.map */